/*------------------------------------*\
  #Pytania
\*------------------------------------*/

/**
 * Jak usunąć górny padding/odstęp w nagłówku h3, żeby się wyśrodkował?
 */





/*------------------------------------*\
  #MAIN STYLESHEET
\*------------------------------------*/

@import url(reset.css);
//@import url(gridlover.css);
//@import url(fonts.css);
//@import url(normalize.css);


*, *::before, *::after {
	Box-sizing: inherit;
}

html {
  font-size: 62.5%;
  //line-height: inherit;
  font-family: 'Playfair Display', serif;
  color: #48504e;  
  Box-sizing: border-box;
}

a { cursor: pointer; }





/*------------------------------------*\
  #COLORS
\*------------------------------------*/

.orange { color: #ffc107; }
.grey { color: #48504e; }
.lightgrey { color: #d4d4d3; }





/*------------------------------------*\
  #MAIN TYPOGRAPHY STYLES
\*------------------------------------*/

h1 { 
    font-size: 3.7rem;
    background-color: rgba(255, 255, 255, .9);
    padding: 3.5rem;
    padding-right: 10rem;
    margin: 4.0rem;
    display: inline-block;
}

h2 { font-size: 2.7rem; padding: 1.5rem;}

h3 { font-size: 3.1rem; padding: 1.2rem 2rem 2rem 2rem;}

h3, h2 {     
    color: #ffffff;
    background-color: #48504e;    
    display: inline-block;    
}

h4 {
    font-size: 2rem;
    padding: 2rem 1rem;
}

p { font-size: 1.8rem; line-height: 1.55; }


ul { font-size: 2.3rem; line-height: 1.75; }


footer p { font-size: 1.4rem; }


strong { 
    font-weight: bold;
}


em {
    background-color: rgba(255, 255, 255, .8);
}


.summary { 
    font-size: 2.4rem;
    font-style: italic;
}


.deleted {
    text-decoration: line-through;
}





/*------------------------------------*\
  #BACKGROUND IMAGE
\*------------------------------------*/

html {
    //background: #ffc107 url(../img/background.jpg) fixed no-repeat;    
    background: #ffc107 url(../img/backgroundfull.jpg) fixed no-repeat;
    background-size: contain;    
}

/**
 * SECOND METHOD
 */              

.container-bgc {
    right: 0;
    width: 63%;
    height: 100vh;
    position: fixed;
    background: #ffc107;
    z-index: -100;
}

.container-bgc::before {
    content: "";    
    position: absolute;
    height:0;
    width:0;
    border-right: 20rem solid #ffc107;
    border-top: 100vh solid transparent;
    left: -20rem;
}





/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.menu {
    //background: #ffffff url(../img/menu.svg) right no-repeat;
    //display: block;
    background: #ffffff url(../img/menu.svg) center no-repeat;    
    height: 3.2rem;    
    margin: 2.4rem;
    padding: 1.4rem;
    position: fixed;
    width: 3.2rem;
    right: 0;
    z-index: 9999;    
}

header { 
    display: none;
    background-color: #48504e;
    height: 30rem;
    padding: 10rem;
    color: #ffffff;
}

nav {
    float: right;    
}

nav li {
    text-align: right;
    background: url(../img/strzalka.png) right no-repeat;
    padding-right: 4rem;
    line-height: 1.5rem;
    margin: 3rem;
    cursor: pointer;
}





/*------------------------------------*\
  #FORM
\*------------------------------------*/

form {
    float: left;
    width: 35rem;
}

input, textarea {
    width: 35rem;
    background: none;
    border: 2px #d4d4d3 solid;
    margin: .5rem;
    padding: 1rem;
    color: #ffffff;
    font-size: 1.7rem;
    z-index: -10;
    font-family: 'Playfair Display', serif;
}

button {    
    background: #ffc107;
    border: none;
    padding: 2rem 6rem;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
    margin-top: -1.5rem;
    margin-right: -3rem;
    z-index: 9999;
}





/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

section {
    width: 50%;
    min-width: 600px;
    max-width: 850px;
    height: 100;
    position: absolute;
    right: 5%;
    //padding-left: 23rem;
    //padding-right: 16rem;
    padding-bottom: 8rem;    
}

article {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

hgroup {
    margin-left: -40%;    
    position: relative;
    display: inline-block;
}

h3 {
    position: absolute;
    right: 3%;
    bottom: 13%;
}

figure {
    float: left;
    margin-left: -25%;
    margin-top: 20%;
}

.cube {
    float: right;
    padding: 10rem;
}

.text {
    padding-top: 4rem;
    column-count: 2;
}

.text-second {
    column-count: 0;
}

.button-more {
    position: absolute;
    right: 2rem;
}

footer {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    z-index: 10;
}

.black-box::after {
    content: "";    
    width: 7rem;
    height: 7rem;
    right: 3rem;
    bottom: 3rem;
    background-color: #48504e;
    position: absolute;
    
}





/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

@media all and (max-width: 1280px) {
    
    html {
         background: #ffc107;   
    }
    
    section {
        width: 75%;
    }
    
    .bg-md {
        background: url(../img/backgroundfull.jpg) fixed no-repeat;
        height: 30rem;
    }
       
    hgroup {        
        margin-left: -15rem;
    }
    
    figure {
        margin-left: -14rem;
    }
    
    header {
        height: 50rem;
    }
}


@media all and (max-width: 800px) {
    
    hgroup {
        margin-left: 0;
    }
    
    figure, .cube {
        display: none;
    }
    
    section {
        width: 90%;
        min-width: 300px;
        right: 5%;
    }
    
    .text {
        column-count: 1;
    }
    
    section {
        width: 90%;
        min-width: 250px;
        //right: 5%;
    }
    
    header {
        padding: 2rem;
    }
    
    form {
        float: none;
        margin: 1rem auto;
    }
    
    header {
        height: 60rem;
    }
    
    nav {
        padding-top: 2rem;
    }
    
    nav li {
        margin-top: 0rem;;
        margin-bottom: .8rem;
        line-height: 1.8rem;
        font-size: 1.4rem;
    }
    h4 {
        margin-top: 5rem;
        text-align: center;        
    }
}

@media all and (max-width: 600px) {    
        
    .bg-md {
        display: none;
    } 
    
     
}

@media all and (max-width: 460px) {    
    
    header {
        height: 60rem;
    }
    
    form {
        width: 90%;
    }
    
    input, textarea {
        width: 90%;
    }
    
    
}





/*------------------------------------*\
    BORDERS
\*------------------------------------*/

/* Create a series of empty pseudo-elements... */
html:before,html:after,body:before,body:after{
    content:"";
    background:#ffffff;
    position:fixed;
    display:block;
    z-index:5;
}

/* ...and position them! */
html:before{
    height:.8rem;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:.8rem;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:1.4rem;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:1.4rem;
    top:0;
    bottom:0;
    left:0;
}






/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.button-more {
    display: inline-block;
    border: .1rem dashed #000000;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    text-decoration: none;
}





/*------------------------------------*\
  #DOT SIGHN
\*------------------------------------*/

.summary::after {
    content: "";
    display: block;
    margin: 3rem auto;
    width: 1rem;
    height: 1rem;
    background-color: #48504e;
    border-radius: 50%;
}
